@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap');

*{
  font-family:'Yantramanav', sans-serif;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.headers{
  display: flex;
  flex-direction: column;
}

.headers h1{
  font-family: 'Righteous', cursive;
  font-size: 4vw;
  color: rgb(231, 36, 44);
}

.banner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.banner img{
  height: 80px;
  width: auto;
}

.cartIcon{
  text-decoration: none;
  color: black;
}

.nave{
  color: white;
  background-color: black;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.nave ul{
  list-style-type: none;
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.nave ul li{
  margin: 0 5px;
}


.nave a{
  text-decoration: none;
  margin: 15px;
}

.cartnum{
  font-size: 30px;
}

.bannerimg{
  width: 100%;
  height: auto;
  margin: 0;
}

.cartDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 30px;

}

.cartItem{
  background-color: black;
  border-radius: 5px;
  color: white;
  width: 600px;
  display: flex;
  margin: 10px;
  padding: 5px;
  box-shadow: 2px 2px 7px 7px rgba(0, 0, 0, 0.2)
}

.cartBtns{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cartBtns button{
  margin: 5px;
}

.cartCont{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
}

.cartItem h3{
  margin-bottom: 140px;
}

.cartItem img{
  width: auto;
  height: 220px;
  margin: 5px;
}

.btnCart{
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border: inherit;
  background-color: inherit;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 30px;
}

.listContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5px;
  border-radius: 10px;
  background-color: #eee;
}

.itemDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  box-shadow: 2px 2px 7px 7px rgba(0, 0, 0, 0.2);
}

.itemDiv img{
  height: 250px;
  width: 200px;
}

.counterDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  width: 190px;
  height: 20px;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 5px;
}

.counterNum{
  font-weight: bold;
}

.counterBtn{
  font-family: 'Poppins', sans-serif;
  border: unset;
  font-size: 30px;
  background-color: unset;
  color: rgb(231, 36, 44);
}


.counterCart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 3px;
  width: 195px;
  height: 35px;
  border: 1px solid rgb(231, 36, 44);
  color: rgb(231, 36, 44);
  border-radius: 5px;
  background-color: unset;

}

.finishCart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 3px;
  width: 195px;
  height: 35px;
  border: 1px solid rgb(36, 231, 69);
  color: rgb(36, 231, 69);
  border-radius: 5px;
  background-color: unset;
}

.itemDetails{
  color: rgb(231, 36, 44);
  font-weight: 300;
  font-style: italic;
  cursor: pointer;
  font-size: small;
  margin-left: 75px;
}

.itemDetail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.detailLink{
  margin-left: 71px;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(231, 36, 44);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.containerDetail{
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailPage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3%;
  background-color: #eee;
  margin: 5%;
  border-radius: 5px;
  width: 700px;
  box-shadow: 2px 2px 7px 7px rgba(0, 0, 0, 0.2)

}

.detailCont{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 15px;
  width: 300px;
}

.detailCont p{
  text-align: start;
}

.detailCont h4{
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
  font-size: 20px;
}

.detailPage img{
  width: 300px;
  height: auto;
  margin: 30px;
}

.counterDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 40px;
}

.comprado{
  color: rgb(231, 36, 44);
  display: flex;
  margin:50px;
  text-decoration: none;
}

.compradoItem{
  color: rgb(231, 36, 44);
  display: flex;
  text-decoration: none;
}

.tituCheck{
  margin-bottom: 15px;
}

.divCheck{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divForm{
  height: auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 77px 55px 33px 55px;
  margin: 25px;
  box-shadow: 0 7px 4px 7px rgba(0,0,0,.2);
}

.divFormA{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.formCheck{
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.inputCheck{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.inputsCheck{
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.resuCheck{
  display: flex;
  justify-content: space-around;
}

footer{
  background-color: black;
  color: white;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

footer a label{
  color: rgb(231, 36, 44);
}


/* Animaciones */


footer a label:hover{
  cursor: pointer;
}

.navlink a{
	color: white;
}

.nave span{
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;

}

.navlink:hover span{
	transform: translateX(4px);
}

.navlink:hover a{
  color: rgb(231, 36, 44)
}

.counterBtn:hover{
  cursor: pointer;
}

.counterCart:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(231, 36, 44);
  transition: transform 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

.finishCart:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(36, 231, 69);
  transition: transform 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

.btnCart:hover{
  color: rgb(231, 36, 44);
  transition: transform 0.5s ease, color 0.5s ease, color 0.5s ease;
}

.formCheck input, textarea{
  width: 100%;
  border: 0;
  padding: 10px 5px;
  background: white no-repeat;
  background-image: linear-gradient(to bottom, rgb(231, 36, 44), rgb(231, 36, 44)), linear-gradient(to bottom, silver, silver);
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  font-family: sans-serif
}

.formCheck input:focus, textarea:focus{
  background-size: 100% 2px, 100% 1px;
  outline: none;
}

input[type="submit"] {
  border: 1px solid rgb(231, 36, 44);
  background-color: transparent;
  color: rgb(231, 36, 44);
  padding: 20px 60px;
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 30px;
  border-radius: 3px;
  text-transform: capitalize;

}

input[type="submit"]:focus {
  outline: none;
}

input.btnCheck {
  background-image: linear-gradient(0, rgb(231, 36, 44), rgb(231, 36, 44));
  background-size: 0;
  transition: .8s;
  background-repeat: no-repeat;
}

input.btnCheck:hover {
  background-size: 100%;
  color: #fff;
}

.swal-button{
  background-color: rgb(231, 36, 44);
}

.swal-button:not([disabled]):hover{
  background-color: white;
  color: rgb(231, 36, 44);
}

@media (max-width: 425px){

  .bannerimg{
    display: none;
  }

  .banner img{
    height: 40px;
  }

  .itemDetail{
    flex-direction: column;
  }


  .cartItem{
    width:  335px;
  }

  .cartBtns{
    flex-direction: column;
  }

  .divForm{
    width: 300px;
  }

  .resuCheck{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
  }

}

@media (max-width: 375px){

  .itemDetail{
    width: 300px;
  }

  .divForm{
    width: 240px;
  }

  .cartCont{
    width: 200px;
  }
}

@media (max-width: 320px){

  .detailPage{
    padding: 3px;
  }

  .itemDetail{
    width: 250;
    padding: 5px;
  }

  .itemDetail img{
    width: 255px;
  }

  .cartItem{
    flex-direction: column;
    width: 210px;
  }

  .cartItem h3{
    margin-bottom: 20px;
  }

}



